%a.hidden-lg-down{:href => "https://github.com/FeeJai/fj-tax"}
  %img#fork-on-github{:alt => "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png", :src => "https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" }/


%h2 Calculate your estimate

%h5 Visits to the US in the last 5 years

%p &nbsp;
%p &nbsp;
%p &nbsp;

%h2 Caution
%p
  This is a hobby project. While I hope that it will be helpful, I can not guarantee accuracy and correctness. It is your sole responsibility to submit a valid tax return - always verify the results of this software and ensure correctness. Also, please read the
  =link_to "FAQ", faq_url

%h3 Warranty
%p This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
